body{
  margin:0;
  padding:0;
  height: 100vh;
  background-color: #371c68;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
}
/* box containing all to do elements */
.container{
  display:flex;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid white;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  overflow: scroll;
  padding: 30px;
}

/* input form styling */

.input-form
.input-form__text
.input-form__button

/* ul styling */
/* ul */
ul, li{
  padding:0;
}
.todos-list{
  width: 100%;
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
/* li */
.todo-item{
  box-sizing:border-box;
  background-color: rgba(78, 39, 147, 0.7);
  min-height: 30px;
  min-width: 200px;
  font-size: 1rem;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
}

.buttons-container{
  display: flex;
  max-width: 20%;
}
/* items styling */

/* div inside li that contains p */
.todo-item__content{
  min-width: 50%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* p inside div */
.content__p{
 display: block;
 max-width: 80%;
 overflow: wrap;
 font-size: 1.2rem;
}

/* BUTTONS inside div*/
button{
  width: 3em;
  height: 3em;
  margin:5px;
  border-radius: 5px;
}
/* markTodo button styling */
.button__mark{

}

/* delete button styling */

.button__delete
