body{
  margin:0;
  padding:0;
  height: 100vh;
  background-color: #371c68;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
}
/* box containing all to do elements */
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 30px;
  width: 50%;
}
/* input form styling */

.input-form
.input-form__text
.input-form__button

/* ul styling */

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
        display: block;
        width: 10em;
      }

.todos-list{
  display: block;
  padding: 0;
}

/* items styling */
.todo-item{
  padding: 0;
  display: block;
  border: solid 1px white;
}
.todo-item__content{
  border: solid 1px white;
  min-width: 90%;
  display: flex;
  justify-content: space-between;
}
.content__p{
 display: block;
 min-width: 80%;
 max-width: 90%;
 overflow: wrap;
}

/* BUTTONS */
/* markTodo button styling */
.button__mark{

}

/* delete button styling */

.button__delete
