body{
  margin:0;
  padding:0;
  height: 100vh;
  background-color: #371c68;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
}
/*box containing submit form*/
.maincontainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.formcontainer{
  display: flex;
  /* margin: 50px; */
  width: 100%;
  align-self: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 23vh;
}

/* box containing all to do elements */
.container{
  display:flex;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  height: 60vh;
  overflow: scroll;
  margin-top: 5px;
}

::-webkit-scrollbar{
  display: none;
}

/* input form styling */

.input-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.input-form__text{
  outline: none;
  background: rgba(255,255,255,.3);
  color: white;
  border: none;
  padding: 10px;
  /* padding-right: 400px; */
  width: 100%;
  opacity: 30%;
  font-size: 200%;
  border-radius: 5px;
}
.input-form__button{
  color: white;
  background: #200f3d;
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  outline: none;
}
.input-form__button:hover{
  box-shadow: 0 0 10px #fff;
}
.input-form__button:focus{
  box-shadow: 0 0 10px #fff;
}
.input-form__button:active{
  transform:scale(1.02);
}
.done{
  color: rgba(255,255,255,.3);
  text-decoration: line-through;
}
#validateSpan {
  visibility: hidden;
  font-size: 0.75rem;
  margin-top: 2px;
  margin-left: 2px;
  margin: 0 40%;

}

/* ul styling */
/* ul */
ul, li{
  padding:0;
}
.todos-list{
  width: 100%;
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
/* li */
.todo-item{
  box-sizing:border-box;
  background-color: rgba(78, 39, 147, 0.7);
  min-height: 30px;
  min-width: 200px;
  font-size: 1rem;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
}


/* items styling */

/* div inside li that contains p */
.todo-item__content{
  min-width: 50%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* p inside div */
.content__p{
 display: block;
 max-width: 80%;
 overflow: wrap;
 font-size: 1.2rem;
 outline: none;
}

/* BUTTONS inside div*/

.buttons-container{
  display: flex;
  max-width: 50%;
  min-width: 20%;
  display: flex;
  justify-content: space-between;
}
button{
  width: 3em;
  height: 3em;
  margin:5px;
  border-radius: 50%;
  outline:none;
}
button:hover{
  box-shadow: 0 0 10px white;
}
button:focus{
  box-shadow: 0 0 10px white;
}
/* markTodo button styling */
.button__mark{
 background-color: #bada55;
}

/* delete button styling */
.button__delete{
  color:#f4429e;
  font-weight: bold;
  background-color:#fff;
  padding: 0;
}
